{% extends 'C:/Users/pc/Desktop/expenses_project/expenses/templates/partials/base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <div id="today" class="card rounded flex-fill mx-2 w-50" style="background-color: #22b671;">
            <div class="card-body">
                <div class="mb-5">

                    <p class=" text-white h4">Today</p>
                </div>

                <div class="d-flex flex-row align-items-center ">

                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 256 256">
                        <path fill="#FFFFFF" d="M128 88a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m112-96H16a8 8 0 0 0-8 8v128a8 8 0 0 0 8 8h224a8 8 0 0 0 8-8V64a8 8 0 0 0-8-8m-46.35 128H62.35A56.78 56.78 0 0 0 24 145.65v-35.3A56.78 56.78 0 0 0 62.35 72h131.3A56.78 56.78 0 0 0 232 110.35v35.3A56.78 56.78 0 0 0 193.65 184M232 93.37A40.8 40.8 0 0 1 210.63 72H232ZM45.37 72A40.8 40.8 0 0 1 24 93.37V72ZM24 162.63A40.8 40.8 0 0 1 45.37 184H24ZM210.63 184A40.8 40.8 0 0 1 232 162.63V184Z" />
                    </svg>
                    <p class="pt-2 mx-2 text-white h5">1500$</p>
                </div>
            </div>
        </div>
        <div id="sixmonths" class="card rounded flex-fill mx-2 w-50" style="background-color: #df525b;">
            <div class="card-body">
                <div class="mb-5">

                    <p class=" text-white h4">Six Motnhs Ago</p>
                </div>

                <div class="d-flex flex-row align-items-center ">

                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 256 256">
                        <path fill="#FFFFFF" d="M128 88a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m112-96H16a8 8 0 0 0-8 8v128a8 8 0 0 0 8 8h224a8 8 0 0 0 8-8V64a8 8 0 0 0-8-8m-46.35 128H62.35A56.78 56.78 0 0 0 24 145.65v-35.3A56.78 56.78 0 0 0 62.35 72h131.3A56.78 56.78 0 0 0 232 110.35v35.3A56.78 56.78 0 0 0 193.65 184M232 93.37A40.8 40.8 0 0 1 210.63 72H232ZM45.37 72A40.8 40.8 0 0 1 24 93.37V72ZM24 162.63A40.8 40.8 0 0 1 45.37 184H24ZM210.63 184A40.8 40.8 0 0 1 232 162.63V184Z" />
                    </svg>
                    <p class="pt-2 mx-2 text-white h5">1500$</p>
                </div>
            </div>
        </div>
        <div id="year" class="card rounded flex-fill mx-2 w-50" style="background-color: #3f74df;">
            <div class="card-body">
                <div class="mb-5">

                    <p class=" text-white h4">A Year Ago</p>
                </div>

                <div class="d-flex flex-row align-items-center ">

                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 256 256">
                        <path fill="#FFFFFF" d="M128 88a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m112-96H16a8 8 0 0 0-8 8v128a8 8 0 0 0 8 8h224a8 8 0 0 0 8-8V64a8 8 0 0 0-8-8m-46.35 128H62.35A56.78 56.78 0 0 0 24 145.65v-35.3A56.78 56.78 0 0 0 62.35 72h131.3A56.78 56.78 0 0 0 232 110.35v35.3A56.78 56.78 0 0 0 193.65 184M232 93.37A40.8 40.8 0 0 1 210.63 72H232ZM45.37 72A40.8 40.8 0 0 1 24 93.37V72ZM24 162.63A40.8 40.8 0 0 1 45.37 184H24ZM210.63 184A40.8 40.8 0 0 1 232 162.63V184Z" />
                    </svg>
                    <p class="pt-2 mx-2 text-white h5">1500$</p>
                </div>
            </div>
        </div>
    </div>

    <div class=" w-100  d-flex flex-row mt-5 mb-5 justify-content-between">

        <div class="container mx-3  bg-light  d-flex flex-column align-items-center rounded">
            <h3 class="my-3">Expenses Summary Chart </h3>
            <div>

                <canvas id="expensesChart" width="450" height="350" class="my-3"></canvas>
            </div>
        </div>
        <div class="container mx-3 bg-light d-flex flex-column align-items-center justify-content-center rounded">
            <h3 class="my-3">Expenses Summary Chart </h3>
            <canvas id="expensesChart1" width="400" height="250" class="py-2"></canvas>
        </div>


    </div>
</div>
<script defer src="{% static 'C:\Users\pc\Desktop\expenses_project\expenses\expenses\static\js\IncomeChart1.js'%}"></script>
<script defer src="{% static 'C:\Users\pc\Desktop\expenses_project\expenses\expenses\static\js\IncomeChart2.js'%}"></script>
{% endblock content%}